*{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-tabs .ui-tabs-panel{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
}
.ui-tabs.ui-corner-all.ui-widget.ui-widget-content{
    border: none;
}
.ui-selectmenu-button.ui-button{
    width: calc(100% - 16px);
}
ul.ui-menu.ui-corner-bottom.ui-widget.ui-widget-content{
    border: 1px solid #c5c5c5;
}

.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 45%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width:calc(50% - 2em)}
li{
    overflow: hidden;
}
li>a{
    width:100%;
}

.month_name{
    width:100%;
    border: solid;
    border-width: 0;
    border-color: lightgray;
}
.month{
    float:left;

}
.day{
    float:left;
    width:30px;
    font-size:16px;
    text-align: center;
    box-sizing: border-box;
    border: solid;
    border-width: 1px 1px 0px 0px;
    border-color: lightgray;
}

.month_name{
    position: relative;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    width:100%;
    height: 30px;
}
.fixed{
    position:absolute;
    left: 50%;
    top:5px;
    transform: translateX(-50%);
}

#date_header{
    display: flex;
}
#mover_left:hover, #mover_right:hover{
    background-color:lightcoral;
}
#mover_left:active, #mover_right:active{
    background-color:orangered;
}
#mover_left, #mover_right{
    float:left;
    display:flex;
    width:2%;
    font-size:1.3vw;
    background-color:lightgrey;

}
#mover_left{
    margin-left:8%;
    -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 0, 100% 100%, 40% 80%, 40% 100%, 0% 50%);
    clip-path: polygon(40% 0%, 40% 20%, 100% 0, 100% 100%, 40% 80%, 40% 100%, 0% 50%);
}
#mover_right{
    -webkit-clip-path: polygon(0 0, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0 100%);
    clip-path: polygon(0 0, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0 100%);
}
.mover_description{
    margin:auto 0.3vw auto 0.3vw;

}

#row_descriptor{
    float:left;
}
.row_desc{
    box-sizing: border-box;
    border: solid;
    border-width: 1px 0 1px 0;
    border-color: lightgray;
    overflow: hidden;
    width: 100%;
    height: 2vw;
    font-size:15px;
    padding-left: 4px;
}

#filler{
    width:8%;
    height: 1px;
    float:left
}
#filler2{
    width: 1.3vw;
    float:left;
    height:1px;
}

#overview{
    float:left;
}
.column{
    width:30px;
    float:left;
    box-sizing: border-box;
    border: solid;
    border-width: 0 1px 0 0;
    border-color: lightgrey;

}
.cell{
    box-sizing: border-box;
    height: 30px;
    width: 100%;
}

.thick{
    border-right-width: 2px;
}

#contents{
    display: flex;
}

#footer{
    clear:both;
    padding-top: 10px;
    box-sizing: border-box;
    border: solid;
    border-width: 1px 0 0 0;
    border-color: lightgray;

}

.used{
    background-color: darkgrey;
}

.odd_row{
    background-color: rgba(15,119,255,0.11);
}

.event{
    background: url("images/event_bg") repeat;
}
.weekend{
    background: url("images/weekend_bg") repeat;
}

.reserved{
    border-width: 0;
    position:relative;
    z-index: 2;
    width:calc(100% + 2px);
}

.separator{
    box-sizing: border-box;
    border: solid;
    border-color: lightgrey;
    border-width: 1px 0 1px 0;
    background: white;
    height: 5px;
    top: 5px;
    width:calc(100% + 2px);
}

.odd{
    background-color: lightcyan;
}
.even{
    background-color:lightgoldenrodyellow;
}
/*
.reserved.odd_row.even_project{
    background-color: #007fff;
}
.reserved.odd_row.odd_project{
    background-color: #9757ff;
}

.reserved.even_row.even_project{
    background-color: #007fff;
}
.reserved.even_row.odd_project{
    background-color: #ff895f ;
}
.reserved.even_row.even_project{
    background-color: #ff9d23;
}

.reserved.odd_row.even_project.event{
    background: #007fff url("images/event_bg") repeat;
}

.reserved.odd_row.odd_project.event{
    background: #9757ff url("images/event_bg") repeat;
}

.reserved.even_row.even_project.event{
    background: #007fff url("images/event_bg") repeat;
}
.reserved.even_row.odd_project.event{
    background: #ff895f url("images/event_bg") repeat;
}
.reserved.even_row.even_project.event{
    background: #ff9d23 url("images/event_bg") repeat;
}

.odd_row.event{
    background: rgba(15,119,255,0.11) url("images/event_bg") repeat;
}


.reserved.odd_row.even_project.weekend{
    background: #007fff url("images/weekend_bg") repeat;
}

.reserved.odd_row.odd_project.weekend{
    background: #9757ff url("images/weekend_bg") repeat;
}

.reserved.even_row.even_project.weekend{
    background: #007fff url("images/weekend_bg") repeat;
}
.reserved.even_row.odd_project.weekend{
    background: #ff895f url("images/weekend_bg") repeat;
}
.reserved.even_row.even_project.weekend{
    background: #ff9d23 url("images/weekend_bg") repeat;
}

*/
.odd_row.weekend{
    background: rgba(15,119,255,0.11) url("images/weekend_bg") repeat;
}

#loading_screen{
    background: white;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
}

#loading_filler{
    height: 20%;
    display: block;
    width:100%;
}

#loading_img{
    display:block;
    margin:auto;
    width: 100%;
    height: auto;
    max-width: 200px;
}

#loading_comments{
    text-align: center;
}

.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: -4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.derivative{
    width:95%;
    display: inline-block;
    margin-bottom: 12px
}

.progressbar{
    float:left;
    width:100%;
    height: 15px;
    top: 4px;
}

.derivative_name_container{
    top: 12px;
    position: relative;
    float: left;
    width: 30%;
}

.derivative_content_container{
    float:left;
    width:65%;
}

.ui-checkboxradio-label.ui-corner-all.ui-button.ui-widget{
    display: block;
    text-align:left;
}

#load_overlay{
    background: rgba(255, 255, 255, 0.86);
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
}
#load_overlay_filler{
    height: calc(50% - 200px);
    display: block;
    width: 100%
}
#load_overlay_img{
    display:block;
    margin:auto;
    width: 100%;
    height: auto;
    max-width: 200px;
}

.ui-dialog-buttonset{
    width:100%;
}
.ui-dialog-buttonset>button{
    float:right;
}
.project_delete_button.ui-button.ui-corner-all.ui-widget{
    float: left;
    color: indianred;
    margin-left: 12px;
}

.three_fields{
    width: calc(27% - 12px);
    float: left;
    margin-right: 24px;
}

.four_fields{
    width: calc(20% - 12px);
    float: left;
    margin-right: 24px;
}

.two_fields{
    width: calc(40% - 12px);
    float: left;
    margin-right: 24px;
}

.one_field{
    width: calc(80% - 12px);
    float: left;
    margin-right: 24px;
}
.centered{
    width: 80%;
    position: absolute;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float:left;
    overflow: hidden;
    word-break: break-word;
}

.row_descriptor_img{
    height:100%;
    width: 20%;
    float:left;
    -webkit-clip-path: polygon(60% 40%, 100% 0, 100% 100%, 60% 60%, 0 50%);
    clip-path: polygon(60% 40%, 100% 0, 100% 100%, 60% 60%, 0 50%);

}
.row_descriptor_img.odd{
    background-color: lightcyan;
}

.ui-tooltip {
    white-space: pre-line;
}

.fullscreen_col.active{
    float:left;
    width:calc(33% - 16px);;
    margin-right:1%;
}

.event_symbol.text.ui-widget-content.ui-corner-all{
    margin-right: 5px;
    float: left;
    width: calc(15% - 0.8em - 5px);
}
.event_description.text.ui-widget-content.ui-corner-all{
    margin-right: 5px;
    float: left;
    width: calc(38% - 0.8em - 5px);
}
.event_date.text.ui-widget-content.ui-corner-all{
    float: left;
    width: calc(40% - 0.8em - 5px);
}

#event_container_labels>label{
    float: left;
    width: 38%;
}

.small_cancel_btn{
    color: red;
    width: 4%;
    height: 35px;
    padding: 0;
    margin-right: 5px;
    display: inline-block;
    float: left;
}

.link_div{
    float: left;
    border: 1px solid #ccc;
    background: #f6f6f6;
    font-weight: normal;
    margin-right: 5px;
    padding: 3px;
}
.project_event_marker{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.project_event_marker>div{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#column_chooser_div{
    width:calc(100% - 32px);
}

#date_header{
    width:100%;
}

.unauthorized{
    display:none;
}
.config_delete_btn{
    padding: 0;
    width: 15px;
    height: 2em;
    margin-bottom: 12px;
    color: indianred;
    top: 1px;
    float: left;
}

.config_modify_btn{
    margin-bottom: 12px;
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}
